.card {
  width: 650px;
  margin-bottom: 0;
}

.hole-game {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.status {
  margin-bottom: 20px;
}
.hole {
  width: 110px;
  height: 110px;
  margin: 0 15px 30px;
  background: gray;
  border-radius: 50%;
}

.hole_has-goblin {
  background-image: url(../public/goblin.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}
